<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:learning@safeducate.com">learning&#64;safeducate.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span><a href="tel:+1800 110 113">+1800 110 113</a></span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
</section>
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <a routerLink="/" class="logo"><img src="assets/img/logo.png" alt=""/></a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/">Home</a></li>
        <li class="dropdown"><a routerLink="/about-us">About Us <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li>
              <a routerLink="/about-us/safeducate-learning">About Safeducate Learning</a>
            </li>
            <li><a routerLink="/about-us/leadership-team">Leadership Team</a></li>
            <li>
              <a routerLink="/about-us/areas-expertise-specialization">Areas of Expertise & Specialization</a>
            </li>
            <li>
              <a routerLink="/about-us/presence">Presence </a>
            </li>
            <li>
              <a routerLink="/about-us/strategic-alliances">Strategic Alliances</a>
            </li>
            <li>
              <a routerLink="/about-us/awards-recognition">Awards & Recognition</a>
            </li>
            <li>
              <a routerLink="/about-us/success-stories-testimonials">Success Stories & Testimonials</a>
            </li>
            <li>
              <a routerLink="/about-us/special-initiatives">Special Initiatives</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a routerLink="/solutions">Solutions <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li>
              <a routerLink="/solutions/corporate-connect-solutions">Corporate Connect Solutions</a>
            </li>
            <li>
              <a routerLink="/solutions/academia-connect-solutions">Academia Connect Solutions</a>
            </li>
            <li>
              <a routerLink="/solutions/professional-certifications-solutions">Professional Certifications Solutions</a>
            </li>
            <li>
              <a routerLink="/solutions/vocational-education-training-solutions">Vocational Education & Training Solutions
              </a>
            </li>
            <li>
              <a routerLink="/solutions/digital-learning-solutions">Digital Learning Solutions</a>
            </li>
            <li>
              <a routerLink="/solutions/research-consulting-solutions">Research & Consulting Solutions</a>
            </li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="/newsroom">Newsroom</a></li>
        <li class="dropdown">
          <a routerLink="/knowledge-centre">Knowledge Center <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/knowledge-centre/journals-magazines">Journals & Magazines</a></li>
            <li><a routerLink="/knowledge-centre/reports">Reports</a></li>
            <li><a routerLink="/knowledge-centre/latest-trends">Latest Trends</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a routerLink="/contacts">Contact Us <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/contacts/our-centers">Our Centers</a></li>
            <li>
              <a routerLink="/contacts/career-at-safeducate">Career at Safeducate</a>
            </li>
            <li><a routerLink="/contacts/partner-with-us">Partner with Us</a></li>
            <li>
              <a routerLink="/contacts/employee-login">Employee Login</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-link scrollto" routerLink="/student-corner">Student Corner</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->