<div class="container-fluid">
  <div class="row">
    <div class="background-image col-12">
      <div class="bg-content">Strategic Alliances</div>
    </div>
  </div>
  <div class="container cont-strategic">
    <div class="row mt-3">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/ministr-skill.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>Ministry of Skill Development and Entrepreneurship MSDE</h2>
            <p>
              A trusted member of the Skill Ministry since inception, Safeducate
              has always proactively partnered with all initiatives & activities
              of MSDE
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/nsdc.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>National Skill Development Corporation NSDC</h2>
            <p>
              Safeducate became the first training partner of NSDC in the
              Logistics sector in 2013
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/ministry.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>Ministry of Rural Development MoRD</h2>
            <p>
              Safeducate is the Champion Employer organization for MoRD and has
              been running its flagship skill development project Deen Dayal
              Upadhyaya Grameen Kaushalya Yojana (DDU-GKY) in multiple states in
              India
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/ministr-skill.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>All India Management Association AIMA</h2>
            <p>
              Strategic and Knowledge partnership to integrate SCM & Logistics
              with Management education
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/charterd.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>Chartered Institute of Logistics and Transportation CILT</h2>
            <p>
              Technical and knowledge partnership to design, develop and run SCM
              & Logistics courses covering global standards and practicesE
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/ministr-skill.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>Logistics Sector Skill Council (LSC)</h2>
            <p>
              Safeducate is the first & the largest training partner of LSC;
              Safeducate’s Founder & CEO Ms.Divya Jain is also the member of
              LSC’s Governing Council
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/ministr-skill.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>Automotive Skill Development Council ASDC</h2>
            <p>
              Safeducate is affiliated with ASDC to train people in various job
              roles in the Automotive sector
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/ministr-skill.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>Retailers Associations Skill Council of India RASCI</h2>
            <p>
              Safeducate is affiliated with RASCI to train people in various job
              roles in the Retail sector
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/nacassom.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>
              The National Association of Software and Services Companies
              NASSCOM
            </h2>
            <p>
              Safeducate is affiliated with NASSCOM to train people in various
              job roles in the IT&ITeS sector
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img
              src="../../../../assets/img/strategic/ministr-skill.jpg"
              alt=""
              height="150px"
              style="border: 1px solid lightgray"
            />
          </div>
          <div class="col-9">
            <h2>Skill Council for Persons with Disabilities SCPwD</h2>
            <p>
              Safeducate is associated with SCPwD to train specially-abled
              students through various specifically designed programs
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
