.background-image {
  background-image: url("../../../../assets/img/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
}
.bg-content {
  color: #FFFFFF;
  font-weight: 550;
  font-size: 50px;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 90%;
  height: fit-content;
  padding: 10px;
  text-shadow: 3px 3px 6px #000;
  font-family: 'Merriweather', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
.contentt{
  margin-top: 80px;
  line-height: 1.5;
  color:#676a73;
  font-family: 'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
}
p{
  font-size: 14px;
  line-height: 1.5;
  color:#676a73;
}
.cont-strategic{
  padding: 40px 20px;
}
h2{
  font-family: 'Merriweather', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  margin: 3px;
}