
<!-- ======= Hero Section ======= -->
<section class="hero__slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/img/slider/new-slide-1.jpg" alt="Slide 1" />
      <div class="container">
        <div class="slide__text">
          <h2 data-aos="fade-up">Joining hands to lead the skill revolution</h2>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="assets/img/slider/new-slide-2.jpg" alt="Slide 1" />
      <div class="container">
        <div class="slide__text">
          <h2 data-aos="fade-up">Joint & Research Papers in SCM & Logistic</h2>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="assets/img/slider/new-slide4.jpg" alt="Slide 1" />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- Largest Banner -->
  <div class="largest_banner padding-top padding-bottom">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="main-title-container text-cente">
            <h2 class="main-title text-white">
              India’s Largest Logistics Training Provider
            </h2>
            <h3 class="sub-title">
              Over 10 Years Of Corporate Training Experience In Logistics
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Largest Banner -->
  <!-- We Have achived -->
  <div class="achieved padding-top padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 achived_left_side">
          <div class="img-container">
            <img src="assets/img/map-safeducate.png" alt="Map" />
          </div>
        </div>
        <div class="col-md-6 achived_right_side">
          <div class="achived_title">
            <div class="counter-top-heading">
              <p class="text-white">We have Achieved</p>
            </div>
          </div>

          <div id="my_counters" class="mycounter_section">
            <div class="cmsmasters_counter_wrap one_first">
              <div class="counter_wrap">
                <div class="counter_number">
                  <span class="prefix"></span>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="8000"
                    data-purecounter-duration="1"
                    class="purecounter counter_counter text-white"
                  ></span>
                  <span class="counter_suffix"></span>
                </div>
                <div class="counter_text">
                  <p>Trained & Upskilled</p>
                </div>
              </div>
            </div>

            <div class="cmsmasters_counter_wrap one_first">
              <div class="counter_wrap">
                <div class="counter_number">
                  <span class="prefix"></span>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="150"
                    data-purecounter-duration="1"
                    class="purecounter counter_counter text-white"
                    >150</span
                  >
                  <span class="counter_suffix"></span>
                </div>
                <div class="counter_text">
                  <p>Training & Skilling Centres</p>
                </div>
              </div>
            </div>

            <div class="cmsmasters_counter_wrap one_first">
              <div class="counter_wrap">
                <div class="counter_number">
                  <span class="prefix"></span>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="500"
                    data-purecounter-duration="1"
                    class="purecounter counter_counter text-white"
                  ></span>
                  <span class="counter_suffix"></span>
                </div>
                <div class="counter_text">
                  <p>Industry Connects</p>
                </div>
              </div>
            </div>
            <div class="cmsmasters_counter_wrap one_first">
              <div class="counter_wrap">
                <div class="counter_number">
                  <span class="prefix"></span>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="250"
                    data-purecounter-duration="1"
                    class="purecounter counter_counter text-white"
                    >250</span
                  >
                  <span class="counter_suffix"></span>
                </div>
                <div class="counter_text">
                  <p>Industry Linked Courses</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Achieved -->

  <!-- Our Solution -->
  <section id="our_solution" class="our_solution padding-top padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="solution_title">
            <h2 class="title">Areas of Expertise</h2>
            <p class="solu_sub-title">
              10 Years of Experience in Career Oriented Skill Development
              Programs
            </p>
          </div>
        </div>
      </div>
      <div class="row type-of-areas-expertise padding-top">
        <div class="col-md-3 ex_single">
          <div class="single">
            <div class="ex_img">
              <img
                src="assets/img/expert/e-learning.png"
                alt="e-learning.png"
              />
            </div>
            <div class="ex_title">
              <p>E-Learning Programmes</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 ex_single">
          <div class="single">
            <div class="ex_img">
              <img
                src="assets/img/expert/public-workshop-new.png"
                alt="public-workshop-new.png"
              />
            </div>
            <div class="ex_title">
              <p>Public Workshop</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ex_single">
          <div class="single">
            <div class="ex_img">
              <img src="assets/img/expert//research.png" alt="/research.png" />
            </div>
            <div class="ex_title">
              <p>Joint Research & Development Initiatives</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ex_single">
          <div class="single">
            <div class="ex_img">
              <img
                src="assets/img/expert/corporate-tranning.png"
                alt="corporate-tranning.png"
              />
            </div>
            <div class="ex_title">
              <p>Corporate Training & Consulting</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ex_single">
          <div class="single">
            <div class="ex_img">
              <img
                src="assets/img/expert/customize-curriculm.png"
                alt="customize-curriculm.png"
              />
            </div>
            <div class="ex_title">
              <p>Customised Curriculum & Content Development</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ex_single">
          <div class="single">
            <div class="ex_img">
              <img src="assets/img/expert/csr.png" alt="csr.png" />
            </div>
            <div class="ex_title">
              <p>CSR Projects</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ex_single">
          <div class="single">
            <div class="ex_img">
              <img src="assets/img/expert/drive.png" alt="drive.png" />
            </div>
            <div class="ex_title">
              <p>Driver Training School</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ex_single">
          <div class="single">
            <div class="ex_img">
              <img src="assets/img/expert/jobs.png" alt="jobs.png" />
            </div>
            <div class="ex_title">
              <p>Placement Services</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Solution -->

  <!-- Bloom section -->
  <section class="bloom_section">
    <div class="container">
      <div class="col-md-12">
        <div
          class="bloom__title_wrapper text-center padding-top padding-bottom"
        >
          <h2 class="text-white">
            Bloom into an Expert Retail Supply Chain Management Professional
          </h2>
          <p class="text-white">
            Management Development Program on Retail Supply Chain
            <br />Management by IIM Kashipur
          </p>
          <a class="btn button text-white" href="supply-chain-management"
            >Join Now</a
          >
        </div>
      </div>
    </div>
  </section>

  <!-- Member area -->
  <section class="member__area padding-top padding-bottom">
    <div class="container">
      <div class="col-md-12 text-center">
        <div class="solution_title padding-bottom">
          <h2 class="title">We are Proud Member of</h2>
        </div>
        <div class="member_brand" data-aos="zoom-in">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/AIMA.jpg" alt="AIMA.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/ASDC.jpg" alt="ASDC.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img
                  src="assets/img/member/charted-institute.jpg"
                  alt="charted-institute.jpg"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/dit.jpg" alt="dit.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/india.jpg" alt="india.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/LSC.jpg" alt="LSC.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/NASSCCOM.jpg" alt="NASSCCOM.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/nsdc-1.png" alt="nsdc-1.png" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/RASCI.jpg" alt="RASCI.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/SCPWD.jpg" alt="SCPWD.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img_area">
                <img src="assets/img/member/ssc.jpg" alt="ssc.jpg" />
              </div>
            </div>
          </div>
          <div class="swiper-pagination c_navigation"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="interest">
    <div class="container">
      <div class="col-md-12 padding-top p-0 mt-3">
        <div class="interested">
          <div class="row">
            <div class="col-md-6">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/rtPwomElzfI?si=QTk_-3Oq7A6jXkR6"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-6 d-flex align-items-center">
              <div class="right_section text-center">
                <h2>Interested in becoming a partner of safeducate?</h2>
                <a
                  class="become_partner_btn"
                  href="www.safeducate.com/partner/Login.aspx"
                  >Become a partner</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Students Speaks Section ======= -->
  <section id="testimonials" class="testimonials text-center">
    <div class="solution_title padding-bottom">
      <h2 class="title">Students Speaks</h2>
    </div>
    <div class="container" data-aos="zoom-in">
      <div
        class="testimonials-slider swiper"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-1.jpg"
                class="testimonial-img"
                alt=""
              />
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                The future has hope and the future always favors the hard
                working soul. Shubham Kumar, from a small town in Bihar, like
                all other youngsters wanted to make a name for himself. It’s
                just that he didn’t know ‘how to do it’ and also was concerned
                with lack of funds to pursue his dreams. He belonged to a very
                poor family but that didn’t deter him from thinking big…
                <a
                  href="https://safe.technodemo.online/about-us/success-stories-testimonials/"
                  >Read More</a
                >
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <h3>Shubham Kumar</h3>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-2.jpg"
                class="testimonial-img"
                alt=""
              />
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                If determination is the key to achievement, then definitely
                Bhupendra is the name who accomplished his desire through this
                opportunity. Bhupendra Patil, one of the participants from the
                Certificate in Logistics Excellence (CLEx) course, enrolled with
                a lot of confusion in his mind…
                <a href="#">Read More</a>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <h3>Bhupendra Patil</h3>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-3.jpg"
                class="testimonial-img"
                alt=""
              />
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                For Geeta, a girl with humble background, it was difficult to
                pursue her studies after matriculation. However the Deen Dayal
                Upadhay Grameen Kaushalya Yojna, the flagship skill development
                project of Government of India’s Ministry of Rural Development
                has opened new opportunities for millions of Indian youth from
                rural areas like her…
                <a href="#">Read More</a>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <h3>Geeta Verma</h3>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-4.jpg"
                class="testimonial-img"
                alt=""
              />
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Although, Kamrup, a place famous for its rich cultural heritage
                and historical importance, apart from few small scale
                establishments based on handicrafts, has hardly any big
                industries to provide employment to its youth. Most of them
                after their schooling migrate to other states in search of
                livelihood…
                <a href="#">Read More</a>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <h3>Kanai Das</h3>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-5.jpg"
                class="testimonial-img"
                alt=""
              />
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Namit is one of the first students of the industry integrated
                PGDM in SCM launched by Safeducate in association with Lloyd
                Business School. Choosing SCM from a plethora of courses as a
                career path was the right choice made by Namit in his early days
                of post graduation….
                <a href="#">Read More</a>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>

              <h3>Namit Pabreja</h3>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->
</main>
<!-- End #main -->
