<div class="container-fluid">
        <div class="row">
        <div class="background-image col-12" aria-label="Apparels Lifestyle" title="Apparels Lifestyle">
            <div class="bg-content">
                Awards & Recognition
            </div>
        </div>
    </div>
<div class="container cont-awardds">
    <div class="row mt-3 mt-3">
        <div class="col-4">
            <img src="../../../../assets/img/certificate/award1.jpg" alt="" height="200px" width="100%">
        </div>
        <div class="col-8">
            <h1>The Best Institute-Innovation 2015 – 2016</h1>
            <p class="contentt">
                Safeducate wins top honours at ASSOCHAM Summit-cum- Awards Ceremony 2015-16
            </p>
            <p class="contentt">
                Safeducate has been awarded with the coveted Gold Trophy & Certificate in the category of ‘Best Institute-Innovation’
            </p>
            <p class="contentt">
                Our respected Founder & CEO Ms. Divya Jain received the Award from Honourable Minister for Skill Development & Entrepreneurship, Govt. of India, Shri Rajiv Pratap Rudy.
            </p>
        </div>
    </div>

    <div class="row" style="margin-top: 40px;">
        <div class="col-4">
            <img src="../../../../assets/img/certificate/award2.jpg" alt="" height="200px" width="100%">
        </div>
        <div class="col-8">
            <h1>The Best Institute Innovation of The Year At ASSOCHAM 2016</h1>
            <p class="contentt">
                Safeducate Learning has been conferred prestigious award in the recently concluded Summit –cum- awards ceremony on skilling India- the-way forward, organized by ASSOCHAM
            </p>
            <p class="contentt">
                Safeducate has been awarded with the coveted gold trophy  & certificate in the category of ‘best Institute-Innovation‘
            </p>
        </div>
    </div>

    <div class="row " style="margin-top: 40px;">
        <div class="col-4">
            <img src="../../../../assets/img/certificate/award3.jpg" alt="" height="200px" width="100%">
        </div>
        <div class="col-8">
            <h1>The Best Vocational Education of The Year At 5th Indian Education Awards 2015</h1>
            <p class="contentt">
                Safeducate wins top honours at ASSOCHAM Summit-cum- Awards Ceremony 2015-16
            </p>
            <p class="contentt">
                Safeducate has been awarded with the coveted Gold Trophy & Certificate in the category of ‘Best Institute-Innovation’
            </p>
            <p class="contentt">
                Our respected Founder & CEO Ms. Divya Jain received the Award from Honourable Minister for Skill Development & Entrepreneurship, Govt. of India, Shri Rajiv Pratap Rudy.
            </p>
        </div>
    </div>

    <div class="row" style="margin-top: 40px;">
        <div class="col-4">
            <img src="../../../../assets/img/certificate/limca-book-records.jpg" alt="" height="200px" width="100%">
        </div>
        <div class="col-8">
            <h1>Specially designed skilling center for specially- abled people in Chhapra</h1>
            <p class="contentt">
                ‘Horn Please’ – Coffee Table Book: An Initiative to Honour Indian Truck Drivers
            </p>
            <p class="contentt">
                Mr. Pawan Jain, Founder and Chairman, Safexpress and Ms. Divya Jain, Founder and CEO, Safeducate, co-authored India’s first ever coffee table book, 
                ‘Horn Please’. This book is a unique initiative to make the masses familiar with the life of ‘Truckers’. The book is an attempt to examine the facts and 
                stories at close quarters pertaining to ‘Trucking’ in India and the idea is to access those people who hold the key to devising a fresh set of rules and 
                norms in order to enable these unsung truckers to get their due.
            </p>
        </div>
    </div>
</div>
</div>