<main id="main">
<section class="enroll-number">
    <div class="container">
        <div class="col-md-12">
            <div class="enroll-title text-center">
                <h2>Enrollment Number as mentioned on Certificate</h2>
            </div>
        </div>
        <div class="col-md-5">
            <form action="" id="enroll_number">
                <h3>Search</h3>
                <div class="form-group">
                    <input type="number" class="form-control">
                </div>
                <div class="form-group my-3">
                    <input type="submit" value="Search" class="button">
                </div>
            </form>
        </div>
    </div>
</section>

</main><!-- End #main -->