<div class="container-fluid">
<div class="row">
    <div class="background-image col-12" >
        <div class="bg-content">
            Leadership Team
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="contentt">
            Safeducate is led by stalwarts of SCM & logistics industry and skill development. 
            Our focussed leadership drives our commitment to delivering results in accordance to our vision and mission. The experience of our leadership through its innovative, 
            customer-centric, timely and relavent techniques makes us a winner and help us serve better.
            The esteemed leadership team includes:
            </p>
        </div>
    </div>     
    <div class="row row-leader">
        <div class="col-3">
            <img src="../../../../assets/img/team/pawannw.jpg" alt="pawan-jain">
            <h1 class="leader-h1">Pawan Jain</h1>
            <span class="leader-names" >FOUNDER & CHAIRMAN, SAFEXPRESS</span>
        </div>
        <div class="col-9">
            <p>
                Pawan Jain is a known industry veteran and ‘Logistics Guru’ of India. He has contributed immensely over 
                the past four decades of his professional career towards serving the Indian Supply Chain & Logistics Industry. 
                He established Safexpress in 1997 for undertaking activities in supply chain & logistics, at a time when the industry 
                was at a very nascent stage and full of challenges. Safexpress is an embodiment of his beliefs and commitments in the way it serves its clients.
            </p>
            <p>
                Pawan Jain believes in offering exceptionally high levels of service quality to customers, 
                which has been his mantra for success over the years. He firmly believes in operating on 
                foundations of transparency, ethics, trust & respect. His vision, sharp intellect and deep insight 
                have been great assets to the industry and have contributed to the unparalleled pace of Safexpress’ growth.
            </p>
            <p>
                He has been a guiding light behind developing Safeducate, a specialist in supply chain & logistics training, 
                with an objective to nurture competence, talent and proficiency in supply chain & logistics workforce.
            </p>
            <p>
                Pawan Jain has been conferred with numerous prestigious awards for his relentless efforts and contribution to the industry, 
                which include Lifetime Achievement Award by ELSC, Distinguished Entrepreneurship Award by PHD Chamber of Commerce & Industry, 
                Retail Leadership Award by Asia Retail Congress, among others.
            </p>
        </div>
    </div>
    <hr>
    <div class="row row-leader">
        <div class="col-3">
            <img src="../../../../assets/img/team/Ruba-nwl.jpg" alt="rubal-jain">
            <h1 class="leader-h1">Rubal Jain</h1>
            <span class="leader-names" >MANAGING DIRECTOR, SAFEXPRESS</span>
        </div>
        <div class="col-9">
            <p>
                Rubal Jain has been with the Safexpress leadership team since 2006. His visionary leadership is 
                manifested through company’s burgeoning presence in 622 cities now and its accelerating sales growth rate. 
                He has been instrumental in improving systems and process flows across the organization as well as in developing 
                the business strategy of the company.Rubal Jain has implemented successful policies to manage capital finances and 
                brought on-board rich experience in managing large-scale business projects. He has started various new lines of businesses. 
                Some of these include B2C Logistics (catering to the requirements of e-commerce companies) and Safeducate (catering to skill training in supply chain management).
            </p>
            <p>
                Rubal Jain has completed his Bachelor of Science in Operations Research from Columbia University, 
                New York and MBA from Stanford University’s Graduate School of Business. He is now on the Advisory Board of 
                Columbia University’s Global Centers, Mumbai. He is also an active member of Entrepreneur’s Organization, 
                and currently serves on the board of EO New Delhi Chapter.
            </p>
        </div>
    </div>
    <hr>
    <div class="row row-leader">
        <div class="col-3">
            <img src="../../../../assets/img/team/Divya-Jain.jpg" alt="divya-jain">
            <h1 class="leader-h1">Divya Jain</h1>
            <span class="leader-names" >FOUNDER & CEO SAFEDUCATE</span>
        </div>
        <div class="col-9">
            <p>
                The young founder and CEO of Safeducate, Divya is passionate about human development through various 
                initiatives like skill development, entrepreneurship training, health & hygiene, etc.With a vision to 
                improve the quality of workforce of the logistics industry and also to provide livelihood through skill training, 
                she established Safeducate in 2007 and has been leading the company to make a difference in the lives of many.
                She is an Author too and has co-authored a coffee table book, “Horn Please – Trucking in India” to raise awareness and 
                also change the perception of trucking and truck drivers in India. The book was recognized by Limca Book of Records 2016 and 
                has also received lot appreciation from people from all walks of life. Apart from that, Divya is also the co-founder of ST.ART, 
                a not-for-profit organization that works in the space of spreading Art awareness and Education.
            </p>
            <p>
                Divya has been felicitated with ‘Woman leader of the Year,’ ‘Businesswoman of the year’ 
                and ‘Excellence award for Contribution to SCM & Logistics Education’ awards by the CII, 
                FICCI and ET respectively. Divya’s area of expertise lies in her leadership skills and the ability to 
                understand the Indian supply chain industry as she is able to aptly identify the skill requirements of each operating level. 
                She ensures that the learning and development revolves around the ‘right-skill’ requirement as per industry needs.
            </p>
            <p>
                Divya has a master’s degree in management studies from University of Cambridge, U.K. and a bachelor’s degree in economics 
                from Delhi University. She also holds an LLB from the University of London.
            </p>
        </div>
    </div>
</div>
</div>
