<section class="solutions-section">
    <div class="container">
      <h1 class="section-title">Research & Consulting Solutions</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">HOME</a></li>
          <li class="breadcrumb-item"><a routerLink="/solutions">SOLUTIONS</a></li>
          <li class="breadcrumb-item active" aria-current="page">RESEARCH & CONSULTING SOLUTIONS</li>
        </ol>
      </nav>
    </div>
</section>

<div class="container">    
    <div class="row" style="height: 100px;">
        <div class="col-12">Left</div>
    </div>
    <div class="row" style="height: 100px;">
        <div class="col-8">Left</div>
        <div class="col-4">Left</div>
    </div>

    <div class="row" style="height: 100px;">
        <div class="col-12">Left</div>
    </div>
    <div class="row" style="height: 100px;">
        <div class="col-4">Left</div>
        <div class="col-4">Left</div>
        <div class="col-4">Left</div>
    </div>

    <div class="row" style="height: 100px;">
        <div class="col-12">Left</div>
    </div>
    <div class="row" style="height: 100px;">
        <div class="col-3">Left</div>
        <div class="col-3">Left</div>
        <div class="col-3">Left</div>
        <div class="col-3">Left</div>
    </div>
</div>

