<div class="row">
    <div class="col-12" id="about_us_stories_banner">
        <h1>Success Stories & Testimonials</h1>
    </div>
</div>
<div class="container">     
    <div class="row">
        <div class="col-4">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../../../assets/images/abouts.png" alt="" height="200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SHUBHAM KUMAR
                        </td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td>Certificate in Logistics Excellence (CLEx)</td>
                    </tr>
                    <tr>
                        <td>Learning Centre</td>
                        <td>Patna, Bihar</td>
                    </tr>
                    <tr>
                        <td>Placed Company</td>
                        <td>Gati, Logistics</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>Operation Executive</td>
                    </tr>
                    <tr>
                        <td>Salary Package</td>
                        <td>1.52 LPA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <p>
                The future has hope and the future always favors the hard working soul. 
                Shubham Kumar, from a small town in Bihar, like all other youngsters wanted to make a name for himself. 
                It’s just that he didn’t know ‘how to do it’ and also was concerned with lack of funds to pursue his dreams. 
                He belonged to a very poor family but that didn’t deter him from thinking big.
            </p>
            <p>
                He came in contact with Safeducate through his friends. Safeducate, 
                after understanding his situation and his desire to make it big, 
                recommended his name in Pradhan Mantri Education Loan Scheme for Poor. 
                His name was shortlisted and he received the course loan approval from the Prime Minister of India, Modi Ji.
            </p>
            <p>
                Highly motivated from the loan program, he studied hard and successfully cleared the course. 
                He got placed in one of the leading logistics companies in India, Gati Logistics, as an operation Executive.
            </p>
            <p>
                He has successfully cleared the education loan and is highly grateful to Safeducate for the overall guidance and support he received to realize his dreams.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../../../assets/images/abouts.png" alt="" height="200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SHUBHAM KUMAR
                        </td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td>Certificate in Logistics Excellence (CLEx)</td>
                    </tr>
                    <tr>
                        <td>Learning Centre</td>
                        <td>Patna, Bihar</td>
                    </tr>
                    <tr>
                        <td>Placed Company</td>
                        <td>Gati, Logistics</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>Operation Executive</td>
                    </tr>
                    <tr>
                        <td>Salary Package</td>
                        <td>1.52 LPA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <p>
                The future has hope and the future always favors the hard working soul. 
                Shubham Kumar, from a small town in Bihar, like all other youngsters wanted to make a name for himself. 
                It’s just that he didn’t know ‘how to do it’ and also was concerned with lack of funds to pursue his dreams. 
                He belonged to a very poor family but that didn’t deter him from thinking big.
            </p>
            <p>
                He came in contact with Safeducate through his friends. Safeducate, 
                after understanding his situation and his desire to make it big, 
                recommended his name in Pradhan Mantri Education Loan Scheme for Poor. 
                His name was shortlisted and he received the course loan approval from the Prime Minister of India, Modi Ji.
            </p>
            <p>
                Highly motivated from the loan program, he studied hard and successfully cleared the course. 
                He got placed in one of the leading logistics companies in India, Gati Logistics, as an operation Executive.
            </p>
            <p>
                He has successfully cleared the education loan and is highly grateful to Safeducate for the overall guidance and support he received to realize his dreams.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../../../assets/images/abouts.png" alt="" height="200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SHUBHAM KUMAR
                        </td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td>Certificate in Logistics Excellence (CLEx)</td>
                    </tr>
                    <tr>
                        <td>Learning Centre</td>
                        <td>Patna, Bihar</td>
                    </tr>
                    <tr>
                        <td>Placed Company</td>
                        <td>Gati, Logistics</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>Operation Executive</td>
                    </tr>
                    <tr>
                        <td>Salary Package</td>
                        <td>1.52 LPA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <p>
                The future has hope and the future always favors the hard working soul. 
                Shubham Kumar, from a small town in Bihar, like all other youngsters wanted to make a name for himself. 
                It’s just that he didn’t know ‘how to do it’ and also was concerned with lack of funds to pursue his dreams. 
                He belonged to a very poor family but that didn’t deter him from thinking big.
            </p>
            <p>
                He came in contact with Safeducate through his friends. Safeducate, 
                after understanding his situation and his desire to make it big, 
                recommended his name in Pradhan Mantri Education Loan Scheme for Poor. 
                His name was shortlisted and he received the course loan approval from the Prime Minister of India, Modi Ji.
            </p>
            <p>
                Highly motivated from the loan program, he studied hard and successfully cleared the course. 
                He got placed in one of the leading logistics companies in India, Gati Logistics, as an operation Executive.
            </p>
            <p>
                He has successfully cleared the education loan and is highly grateful to Safeducate for the overall guidance and support he received to realize his dreams.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../../../assets/images/abouts.png" alt="" height="200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SHUBHAM KUMAR
                        </td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td>Certificate in Logistics Excellence (CLEx)</td>
                    </tr>
                    <tr>
                        <td>Learning Centre</td>
                        <td>Patna, Bihar</td>
                    </tr>
                    <tr>
                        <td>Placed Company</td>
                        <td>Gati, Logistics</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>Operation Executive</td>
                    </tr>
                    <tr>
                        <td>Salary Package</td>
                        <td>1.52 LPA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <p>
                The future has hope and the future always favors the hard working soul. 
                Shubham Kumar, from a small town in Bihar, like all other youngsters wanted to make a name for himself. 
                It’s just that he didn’t know ‘how to do it’ and also was concerned with lack of funds to pursue his dreams. 
                He belonged to a very poor family but that didn’t deter him from thinking big.
            </p>
            <p>
                He came in contact with Safeducate through his friends. Safeducate, 
                after understanding his situation and his desire to make it big, 
                recommended his name in Pradhan Mantri Education Loan Scheme for Poor. 
                His name was shortlisted and he received the course loan approval from the Prime Minister of India, Modi Ji.
            </p>
            <p>
                Highly motivated from the loan program, he studied hard and successfully cleared the course. 
                He got placed in one of the leading logistics companies in India, Gati Logistics, as an operation Executive.
            </p>
            <p>
                He has successfully cleared the education loan and is highly grateful to Safeducate for the overall guidance and support he received to realize his dreams.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../../../assets/images/abouts.png" alt="" height="200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SHUBHAM KUMAR
                        </td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td>Certificate in Logistics Excellence (CLEx)</td>
                    </tr>
                    <tr>
                        <td>Learning Centre</td>
                        <td>Patna, Bihar</td>
                    </tr>
                    <tr>
                        <td>Placed Company</td>
                        <td>Gati, Logistics</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>Operation Executive</td>
                    </tr>
                    <tr>
                        <td>Salary Package</td>
                        <td>1.52 LPA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <p>
                The future has hope and the future always favors the hard working soul. 
                Shubham Kumar, from a small town in Bihar, like all other youngsters wanted to make a name for himself. 
                It’s just that he didn’t know ‘how to do it’ and also was concerned with lack of funds to pursue his dreams. 
                He belonged to a very poor family but that didn’t deter him from thinking big.
            </p>
            <p>
                He came in contact with Safeducate through his friends. Safeducate, 
                after understanding his situation and his desire to make it big, 
                recommended his name in Pradhan Mantri Education Loan Scheme for Poor. 
                His name was shortlisted and he received the course loan approval from the Prime Minister of India, Modi Ji.
            </p>
            <p>
                Highly motivated from the loan program, he studied hard and successfully cleared the course. 
                He got placed in one of the leading logistics companies in India, Gati Logistics, as an operation Executive.
            </p>
            <p>
                He has successfully cleared the education loan and is highly grateful to Safeducate for the overall guidance and support he received to realize his dreams.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../../../assets/images/abouts.png" alt="" height="200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SHUBHAM KUMAR
                        </td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td>Certificate in Logistics Excellence (CLEx)</td>
                    </tr>
                    <tr>
                        <td>Learning Centre</td>
                        <td>Patna, Bihar</td>
                    </tr>
                    <tr>
                        <td>Placed Company</td>
                        <td>Gati, Logistics</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>Operation Executive</td>
                    </tr>
                    <tr>
                        <td>Salary Package</td>
                        <td>1.52 LPA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <p>
                The future has hope and the future always favors the hard working soul. 
                Shubham Kumar, from a small town in Bihar, like all other youngsters wanted to make a name for himself. 
                It’s just that he didn’t know ‘how to do it’ and also was concerned with lack of funds to pursue his dreams. 
                He belonged to a very poor family but that didn’t deter him from thinking big.
            </p>
            <p>
                He came in contact with Safeducate through his friends. Safeducate, 
                after understanding his situation and his desire to make it big, 
                recommended his name in Pradhan Mantri Education Loan Scheme for Poor. 
                His name was shortlisted and he received the course loan approval from the Prime Minister of India, Modi Ji.
            </p>
            <p>
                Highly motivated from the loan program, he studied hard and successfully cleared the course. 
                He got placed in one of the leading logistics companies in India, Gati Logistics, as an operation Executive.
            </p>
            <p>
                He has successfully cleared the education loan and is highly grateful to Safeducate for the overall guidance and support he received to realize his dreams.
            </p>
        </div>
    </div>
</div>