<section class="solutions-section">
    <div class="container">
      <h1 class="section-title">Corporate Connect Solutions</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">HOME</a></li>
          <li class="breadcrumb-item"><a routerLink="/solutions">SOLUTIONS</a></li>
          <li class="breadcrumb-item active" aria-current="page">CORPORATE CONNECT SOLUTIONS</li>
        </ol>
      </nav>
    </div>
</section>
<div class="container">    
    <div class="row" style="height: 100px;">
        <div class="col-12">
            Safeducateaims to cater to the capability building needs of the workforce in the SCM & Logistics industry. 
            Through a forward integration approach, we strategically & operationally assist the industry in addressing the challenges it faces with regard to people, productivity and processes.
        </div>
    </div>

    <div class="row" style="height: 100px;">
        <div class="col-12">
            An organization’s workforce needs to constantly honeits skill sets to keep abreast with the changing business dynamics. 
            Safeducate leverages on its years of experience & expertise to provide thelatest & in-depth workforce capability solutions specifically customized for the SCM & Logistics industry.
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Key challenges faced by the Industry</h2>
        <div class="row text-center">
          <div class="col-md-3 mb-4">
            <img src="../../../../assets/img/solution/corporate/low_productivity.png" alt="Low Productivity" class="icon" style="width:40px; height:40px">
            <h3>Low Productivity</h3>
          </div>
          <div class="col-md-3 mb-4">
            <img src="../../../../assets/img/solution/corporate/low_efficiency.png" alt="Low Efficiency Level" class="icon" style="width:40px; height:40px">
            <h3>Low Efficiency Level</h3>
          </div>
          <div class="col-md-3 mb-4">
            <img src="../../../../assets/img/solution/corporate/mis_hendling.png" alt="Longer Lead Times" class="icon" style="width:40px; height:40px">
            <h3>Longer Lead Times</h3>
          </div>
          <div class="col-md-3 mb-4">
            <img src="../../../../assets/img/solution/corporate/mis_hendling.png" alt="Non-availability of Skilled Talent" class="icon" style="width:40px; height:40px">
            <h3>Non-availability of Skilled Talent at All Levels</h3>
          </div>
          <div class="col-md-3 mb-4">
            <img src="../../../../assets/img/solution/corporate/non_availibility1.png"  alt="Lack of Training" class="icon" style="width:40px; height:40px">
            <h3>Non-availability of a Proper Training & Development System</h3>
          </div>
          <div class="col-md-3 mb-4">
            <img src="../../../../assets/img/solution/corporate/poor.png"  alt="Poor Customer Service" class="icon" style="width:40px; height:40px">
            <h3>Poor Customer Service</h3>
          </div>
          <div class="col-md-3 mb-4">
            <img src="../../../../assets/img/solution/corporate/mis_hendling.png"  alt="Material Mishandling" class="icon" style="width:40px; height:40px">
            <h3>Mishandling of Materials Leading to Breakages & Pilferages</h3>
          </div>
          <div class="col-md-3 mb-4">
            <img src="../../../../assets/img/solution/corporate/roles.png"  alt="Undefined Standards" class="icon" style="width:40px; height:40px">
            <h3>Roles, Responsibilities & Standards Not Defined</h3>
          </div>
        </div>
        <div class="row">
            Safeducate has created, after years of testing & practice, specific solutions to address the above mentioned challenges concerning the industry. 
            Through short-term, staggered or consultative mode, Safeducate partners with the industry in combating these challenges to usher in high productivity, efficiency and customer satisfaction.
        </div>
    </div>

    <div class="container mt-4">
        <h2 class="text-center mb-4">Solutions</h2>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Skill Gap Diagnostic Services</h5>
                <p class="card-text">Facilitates Diagnostic studies, Organization level/Function level/Individual level, to identify skill gaps, training issues & non-training issues, and recommend appropriate solutions.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Job Analysis & Defining of Roles & Standards</h5>
                <p class="card-text">Conduct Job Analysis & Work studies to identify and define Roles & responsibilities and prescribe standards.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Functional/Leadership/Soft skills Training Delivery</h5>
                <p class="card-text">Training delivery of all types of training like Functional, Leadership and Soft skills.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Course Design & Content Development</h5>
                <p class="card-text">Outcome based training programs are designed by highly experienced Instructional Designers & Subject Matter Experts based on primary & secondary research on stated/explored training needs.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Train The Trainer Certifications</h5>
                <p class="card-text">Our TTT programs are designed to groom the Internal Trainers as well as Line Managers better on functional/domain knowledge, needs study tools & techniques and aligning training methodology with expected outcomes.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Digital Learning Solutions</h5>
                <p class="card-text">Digital learning solutions designed specifically to suit the time, knowledge need, convenience and objectives of the internal employees.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Talent Acquisition Solutions</h5>
                <p class="card-text">Experienced, trained & certified Talent is made available for varied needs & levels through different models.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row" style="height: 100px;">
        <div class="col-12">Connect with us for more information</div>
    </div>
</div>
