<section class="solutions-section">
    <div class="container">
      <h1 class="section-title">Vocational Education & Training Solutions</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">HOME</a></li>
          <li class="breadcrumb-item"><a routerLink="/solutions">SOLUTIONS</a></li>
          <li class="breadcrumb-item active" aria-current="page">VOCATIONAL EDUCATION & TRAINING SOLUTIONS</li>
        </ol>
      </nav>
    </div>
</section>

<div class="container">    
    <div class="row" style="height: 100px;">
        <div class="col-12"></div>
    </div>
</div>

<div class="row" style="height: 100px;">
    <div class="col-12"></div>
</div>

<div class="container"> 
    <div class="row" style="height: 100px;">
        <div class="col-12">
            Small but satisfying statistics
        </div>
        <hr>
        <div class="col-4">BOX</div>
        <div class="col-4">BOX</div>
        <div class="col-4">BOX</div>
        <div class="col-4">BOX</div>
        <div class="col-4">BOX</div>
        <div class="col-4">BOX</div>
    </div>
</div>

<div class="row" style="height: 100px;">
    <div class="col-12"></div>
</div>

<div class="container">    
    <div class="row" style="height: 100px;">
        <div class="col-12"></div>
    </div>
</div>

