<div class="container-fluid">
  <div class="row">
    <div class="background-image col-12" aria-label="Apparels Lifestyle" title="Apparels Lifestyle">
        <div class="bg-content">
          Areas of Expertise & Specialization
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="padding: 60px 20px;">
        <div class="col-3 mt-3 mt-3">
            <mat-card class="area-card">
                <img mat-card-image src="../../../../assets/img/expertise/aes-5.png" alt="Photo of a Shiba Inu">
                <mat-card-content  class="expertise-text" >
                  <p >
                    E-Learning Programs
                  </p>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div class="col-3 mt-3">
            <mat-card class="area-card">
                <img mat-card-image src="../../../../assets/img/expertise/aes-8.png" alt="Photo of a Shiba Inu">
                <mat-card-content  class="expertise-text" >
                  <p >
                    Public Workshops
                  </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-3 mt-3">
            <mat-card class="area-card">
                <img mat-card-image src="../../../../assets/img/expertise/joint-research.png" alt="Photo of a Shiba Inu">
                <mat-card-content  class="expertise-text" >
                  <p >
                    Joint Research & Development Initiatives
                  </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-3 mt-3">
            <mat-card class="area-card">
                <img mat-card-image src="../../../../assets/img/expertise/aes-1.png" alt="Photo of a Shiba Inu">
                <mat-card-content  class="expertise-text" >
                  <p >
                    Corporate Training & Consulting
                  </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-3 mt-3">
            <mat-card class="area-card">
                <img mat-card-image src="../../../../assets/img/expertise/aes-3-1.png" alt="Photo of a Shiba Inu">
                <mat-card-content  class="expertise-text" >
                  <p >
                    Customized Curriculum & Content Development
                  </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-3 mt-3">
            <mat-card class="area-card">
                <img mat-card-image src="../../../../assets/img/expertise/aes-2.png" alt="Photo of a Shiba Inu">
                <mat-card-content class="expertise-text"  >
                 <p >
                    CSR Projects
                  </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-3 mt-3">
            <mat-card class="area-card">
                <img mat-card-image src="../../../../assets/img/expertise/aes-4.png" alt="Photo of a Shiba Inu">
                <mat-card-content class="expertise-text"  >
                 <p >
                    Driver Training School
                  </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-3 mt-3">
            <mat-card class="area-card">
                <img mat-card-image src="../../../../assets/img/expertise/aes-7.png" alt="Photo of a Shiba Inu">
                <mat-card-content class="expertise-text"  >
                 <p >
                    E-Learning Programs
                  </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> 
</div>   