<main id="main">
  <section class="hero_secttion">
    <div class="container text-center">
     <div class="headline_text">
      <h1 class="entry-title text-white">Newsroom</h1>
    </div>
    <div class="bradcrumb">
      <h2 class="bradcrumb text-white">Home/ Newsroom</h2>
    </div>
  </div>
</section>


<section class="newsrooms_wrapper">
  <div class="container">
    <!-- Gallery -->
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <div class="inner">
            <a href="assets/img/newsroom/safeeducate-news13.jpg">
                <img
                src="assets/img/newsroom/safeeducate-news13.jpg"
                class="w-100 shadow-1-strong rounded mb-4 glightbox"
                alt="safeeducate-news13.jpg"
                />
            </a>
        </div>
        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news7.jpg">
            <img
            src="assets/img/newsroom/safeeducate-news7.jpg"
            class="w-100 shadow-1-strong rounded mb-4 glightbox"
            alt="safeeducate-news7.jpg"
            />
        </a>
        </div>


        </div>
      
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news12.jpg">
            <img src="assets/img/newsroom/safeeducate-news12.jpg" class="glightbox" alt="safeeducate-news12.jpg">
          </a>
        </div>
        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news9.jpg">
            <img src="assets/img/newsroom/safeeducate-news9.jpg" class="glightbox" alt="safeeducate-news9.jpg">
          </a>
        </div>



        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news3.jpg">
            <img
            src="assets/img/newsroom/safeeducate-news3.jpg"
            class="w-100 shadow-1-strong rounded mb-4 glightbox"
            alt="safeeducate-news3.jpg"
            />
        </a>
        </div>

        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news2.jpg">
            <img src="assets/img/newsroom/safeeducate-news2.jpg" class="glightbox" alt="safeeducate-news2.jpg">
          </a>
        </div>
 
      </div>
      
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news11.jpg">
            <img src="assets/img/newsroom/safeeducate-news11.jpg" class="glightbox" alt="safeeducate-news11.jpg">
          </a>
        </div>
        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news10.jpg">
            <img src="assets/img/newsroom/safeeducate-news10.jpg" class="glightbox" alt="safeeducate-news10.jpg">
          </a>
        </div>

        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news4.jpg">
            <img src="assets/img/newsroom/safeeducate-news4.jpg" class="glightbox" alt="safeeducate-news4.jpg">
          </a>
        </div>

        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news6.jpg">
            <img src="assets/img/newsroom/safeeducate-news6.jpg" class="glightbox" alt="safeeducate-news6.jpg">
          </a>
        </div>
        <div class="inner">
          <a href="assets/img/newsroom/safeeducate-news1.jpg">
            <img src="assets/img/newsroom/safeeducate-news1.jpg" class="glightbox" alt="safeeducate-news1.jpg">
          </a>
        </div>

       </div>

       <div class="col-lg-4 mb-4 mb-lg-0">
        
       </div>


      </div>
          <!-- Gallery -->
    </div>
</section>




</main><!-- End #main -->