<main id="main">
  <section class="hero_secttion">
    <div class="container text-center">
     <div class="headline_text">
      <h1 class="entry-title text-white">Reports</h1>
  </div>
  <div class="bradcrumb">
      <h2 class="bradcrumb text-white">Home/ Knowledge Center / Reports</h2>
  </div>
</div>
</section>

<!-- Section -->
<section class="contact_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your name">
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your email">
                            </div>
                        </div>
                        
                        <div class="col-md-6 my-3">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Mobile no">
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your city">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                               <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                           </div>
                       </div>
                       <div class="col-md-12 my-3">
                        <div class="form-group">
                            <input type="submit" value="Send" class="" placeholder="Your name">
                        </div>
                    </div>
                    
                </div>
                
            </form>
        </div>

        <div class="col-md-4 px-5">
         <div class="c_details--Wrapper my-3">
            <h2>Head Office</h2>
            <div class="c_details d-flex">
                <div class="icon mx-3">
                    <i class="bi bi-building-fill-check"></i>
                </div>
                <div class="c_address px-3">
                    Safeducate Institute of Learning
                    RZ 279, A-55 Mahipalpur Extension NH-8,
                    Next to Hotel Lohias, New Delhi – 110037
                </div>
            </div>
        </div>

        <div class="c_details--Wrapper my-3">
            <h2>Indore Office</h2>
            <div class="c_details d-flex">
                <div class="icon mx-3">
                    <i class="bi bi-building-fill-check"></i>
                </div>
                <div class="c_address px-3">
                    Safexpress Logistics Park
                    AB Road, NH 3, Manglia
                    Indore (MP)-453771.
                </div>
            </div>
        </div>

        <div class="c_details--Wrapper my-3">
            <div class="c_details d-flex">
                <div class="icon mx-3">
                    <i class="bi bi-envelope"></i>
                </div>
                <div class="c_address px-3">
                    enquiry&#64;safeducate.com
                </div>
            </div>
        </div>

        
        <div class="c_details--Wrapper my-3">
            <div class="c_details d-flex">
                <div class="icon mx-3">
                    <i class="bi bi-telephone"></i>
                </div>
                <div class="c_address px-3">
                    1800 110 113
                </div>
            </div>
        </div>
</div>
        
    
    <div class="col-md-12">
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9630.45324422104!2d77.12729900796349!3d28.55023505652201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1c410d81ed8d%3A0x8cdee5b532e1b747!2sSafeducate%20Learning%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1714531286608!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    </div>
    
</div>


</section>

</main><!-- End #main -->