<main id="main">
  <section class="hero_secttion">
    <div class="container text-center">
     <div class="headline_text">
      <h1 class="entry-title text-white">Knowledge Center</h1>
    </div>
    <div class="bradcrumb">
      <h2 class="bradcrumb text-white">Home/ Knowledge Center</h2>
    </div>
  </div>
</section>
<section class="knowledge_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 my-3">
                <div class="pdf-wrapper">
                    <div class="pdf_file ">
                        <a href="assets/pdf/Safeducate-Times-April.pdf" target="_blank">
                            <img class="pdf_img" src="assets/img/knowledge/Safeducate-Times-Apri-newl.jpg" alt="Safeducate-Times-Apri-newl.jpg">
                            <img class="hover_img" src="assets/img/knowledge/knowlege-center-hover-img-new1.png" alt="knowlege-center-hover-img-new1.png">
                        </a>
                    <p class="mt-2 text-center">Safeducate Times April</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 my-3">
                <div class="pdf-wrapper">
                    <div class="pdf_file ">
                        <a href="assets/pdf/Evolution-april-2017.pdf" target="_blank">
                            <img class="pdf_img" src="assets/img/knowledge/Evolution-april-2017.png" alt="Evolution-april-2017.png">
                            <img class="hover_img" src="assets/img/knowledge/knowlege-center-hover-img-new1.png" alt="knowlege-center-hover-img-new1.png">
                        </a>
                    <p class="mt-2 text-center">Evolution April 2017</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 my-3">
                <div class="pdf-wrapper">
                    <div class="pdf_file ">
                        <a href="assets/pdf/Safeducate-Times-April.pdf" target="_blank">
                            <img class="pdf_img" src="assets/img/knowledge/Safeducate-Times-Apri-newl.jpg" alt="Safeducate-Times-Apri-newl.jpg">
                            <img class="hover_img" src="assets/img/knowledge/knowlege-center-hover-img-new1.png" alt="knowlege-center-hover-img-new1.png">
                        </a>
                    <p class="mt-2 text-center">Evolution April 2017</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 my-3">
                <div class="pdf-wrapper">
                    <div class="pdf_file ">
                        <a href="assets/pdf/Safeducate-Times-April.pdf" target="_blank">
                            <img class="pdf_img" src="assets/img/knowledge/Safeducate-Times-Apri-newl.jpg" alt="Safeducate-Times-Apri-newl.jpg">
                            <img class="hover_img" src="assets/img/knowledge/knowlege-center-hover-img-new1.png" alt="knowlege-center-hover-img-new1.png">
                        </a>
                    <p class="mt-2 text-center">Evolution April 2017</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 my-3">
                <div class="pdf-wrapper">
                    <div class="pdf_file ">
                        <a href="assets/pdf/Safeducate-Times-April.pdf" target="_blank">
                            <img class="pdf_img" src="assets/img/knowledge/Safeducate-Times-Apri-newl.jpg" alt="Safeducate-Times-Apri-newl.jpg">
                            <img class="hover_img" src="assets/img/knowledge/knowlege-center-hover-img-new1.png" alt="knowlege-center-hover-img-new1.png">
                        </a>
                    <p class="mt-2 text-center">Safeducate Times January</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 my-3">
                <div class="pdf-wrapper">
                    <div class="pdf_file ">
                        <a href="assets/pdf/Safeducate-Times-April.pdf" target="_blank">
                            <img class="pdf_img" src="assets/img/knowledge/Safeducate-Times-Apri-newl.jpg" alt="Safeducate-Times-Apri-newl.jpg">
                            <img class="hover_img" src="assets/img/knowledge/knowlege-center-hover-img-new1.png" alt="knowlege-center-hover-img-new1.png">
                        </a>
                    <p class="mt-2 text-center">Safeducate Times feb</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 my-3">
                <div class="pdf-wrapper">
                    <div class="pdf_file ">
                        <a href="assets/pdf/Safeducate-Times-April.pdf" target="_blank">
                            <img class="pdf_img" src="assets/img/knowledge/Safeducate-Times-Apri-newl.jpg" alt="Safeducate-Times-Apri-newl.jpg">
                            <img class="hover_img" src="assets/img/knowledge/knowlege-center-hover-img-new1.png" alt="knowlege-center-hover-img-new1.png">
                        </a>
                    <p class="mt-2 text-center">Safeducate Times December 2016</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 my-3">
                <div class="pdf-wrapper">
                    <div class="pdf_file ">
                        <a href="assets/pdf/Safeducate-Times-April.pdf" target="_blank">
                            <img class="pdf_img" src="assets/img/knowledge/Safeducate-Times-Apri-newl.jpg" alt="Safeducate-Times-Apri-newl.jpg">
                            <img class="hover_img" src="assets/img/knowledge/knowlege-center-hover-img-new1.png" alt="knowlege-center-hover-img-new1.png">
                        </a>
                    <p class="mt-2 text-center">Safeducate Times December 2016</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

</main><!-- End #main -->