<section class="solutions-section">
    <div class="container">
      <h1 class="section-title">Solutions</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">HOME</a></li>
          <li class="breadcrumb-item active" aria-current="page">SOLUTIONS</li>
        </ol>
      </nav>
    </div>
</section>
<div class="container py-4">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4 soltion-category" routerLink="/solutions/corporate-connect-solutions">
        <div class="card">
          <img src="../../../../assets/img/solution/corporate.jpg" class="card-img-top" alt="Corporate Connect Solutions">
          <div class="card-body">
            <h4 class="card-title">Corporate Connect Solutions</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 soltion-category" routerLink="/solutions/academia-connect-solutions">
        <div class="card">
          <img src="../../../../assets/img/solution/academia.jpg" class="card-img-top" alt="Academia Connect Solutions">
          <div class="card-body">
            <h4 class="card-title">Academia Connect Solutions</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 soltion-category" routerLink="/solutions/professional-certifications-solutions">
        <div class="card">
          <img src="../../../../assets/img/solution/professional.png" class="card-img-top" alt="Professional Certifications Solutions">
          <div class="card-body">
            <h4 class="card-title">Professional Certifications Solutions</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 soltion-category" routerLink="/solutions/vocational-education-training-solutions">
        <div class="card">
          <img src="../../../../assets/img/solution/vocational.jpg" class="card-img-top" alt="Vocational Education & Training Solutions">
          <div class="card-body">
            <h4 class="card-title">Vocational Education & Training Solutions</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 soltion-category" routerLink="/solutions/digital-learning-solutions">
        <div class="card">
          <img src="../../../../assets/img/solution/digital.jpg" class="card-img-top" alt="Digital Learning Solutions">
          <div class="card-body">
            <h4 class="card-title">Digital Learning Solutions</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 soltion-category" routerLink="/solutions/research-consulting-solutions">
        <div class="card">
          <img src="../../../../assets/img/solution/research-consulting.jpg" class="card-img-top" alt="Research & Consulting Solutions">
          <div class="card-body">
            <h4 class="card-title">Research & Consulting Solutions</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  
