<div class="container-fluid">
    <div class="row">
        <div class="background-image col-12" aria-label="Apparels Lifestyle" title="Apparels Lifestyle">
            <div class="bg-content">
                About Us
            </div>
        </div>
    </div>

<div class="container contentt">    
    <div class="row">
        <div class="col-8">
            <p>
                Safeducate Learning is a leading training, skilling and consulting organization and specializes in the domains of Supply Chain Management & Logistics, Retail, 
                Manufacturing and Automotive. This unique profitable company was launched by Safexpress, India’s leading Logistics management company, 
                in 2007 and has been growing by leaps and bounds.
            </p>
            <p>
                Safeducate, celebrating its 10th year of excellence, has transformed the lives of more than 50000 people through various vocational and professional Certification 
                courses & programs. The company has over 150 training & skilling centres at strategically located places in India, and have carefully set up its centres 
                closer to the areas wherein training & skilling needs are the highest. By using the latest technology, innovative tools and rich pool of experienced, 
                qualified & certified trainers, and subject matter experts, Safeducate displays a unique ability to develop & transform the lives of its different 
                types of learners throughhighly focused & industry relevant courses, programs and workshops.
            </p>
            <p>
                Safeducate believes in the philosophy of cooperation and collaboration for better contribution and service. 
                As a result, the company has been able to forge strategic & knowledgepartnerships with various esteemed organizations & agencies 
                like National Skill Development Corporation (NSDC), Chartered Institute of Logistics & Transportation (CILT), Logistics Sector Skill Council (LSC), 
                Indian Institute of Management (IIM Kashipur), Retailers Associations Skill Council of India (RASCI), Automotive Skill Development Council (ASDC), 
                National Association of Software and Services Companies (NASSCOM), and many more.
            </p>
        </div>
        <div class="col-4" style="display: flex; justify-content: center; align-items: center;">
            <img src="../../../../assets/images/abouts.png" alt="" height="300px" width="100%">
        </div>
    </div>
    
    <div class="row">
        <div class="col-8">
            <p>
                As an appreciation of the sincere & quality work carried out by Safeducate, the organization has been recognized by many national & global agencies, 
                and has been conferred with many awards of excellence:
            </p>
        </div>
        <div class="col-4">

        </div>
    </div>

    <div class="row row-awards" style="background-color: #f4f4f4;">
        <div class="col-4" style="height: 200px;">
            <img src="../../../../assets/img/icon/award.png" style="height: 60px;width: 60px;margin: 0 120px;" alt="awards">
            <p class="awards-p" > 
                Award for ‘Contribution in SCM & Logistics Education’ by Economic Times
            </p>
        </div>
        <div class="col-4" style="height: 200px;">
            <img src="../../../../assets/img/icon/award_Best_Training.png" style="height: 60px;width: 60px;margin: 0 120px;" alt="awards">
          <p class="awards-p"> 
                Award for ‘Best Training & Skilling Organization’ by CII
            </p>
            
        </div>
        <div class="col-4" style="height: 200px;">
            <img src="../../../../assets/img/icon/award_Best_Institute.png" style="height: 60px;width: 60px;margin: 0 120px;" alt="awards">
          <p class="awards-p"> 
                Award for ‘Best Institute for Innovation in Skilling’ by ASSOCHAM, to name a few
            </p>
           
        </div>
    </div>

    <div class="row row-vision">
        <div class="col-6 col-vision">
            <p class="text-center text-vision">Our Vision</p>
            <p>“Driven by challenges faced by the industry,we shall promote the cause of Supply Chain Management among the logisticians and aspiring logisticians, 
                combiningdomain training with real-world practical application.”</p>
        </div>
        <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
            <img src="../../../../assets/img/new_our.jpg" alt=""  style="height:300px;width: 100%">
        </div>
    </div>
    
    <div class="row row-vision">
        <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
            <img src="../../../../assets/img/mission.jpg" alt="" style="height:300px;width: 100%">
        </div>
        <div class="col-6 col-vision">
            <h1 class="text-center text-vision" ><b>Our Mission</b></h1>
            <p>“We will consistently strive towards maintaining a ‘knowledge leader’ position in the industry through our dedication 
                towards serving our industry and our commitment towards nurturing talented & skilled individuals.”</p>
        </div>
    </div>
</div> 
</div>
